body {
  background: rgb(242, 242, 242);
}

.title {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(200, 200, 200) 0px 0px 10px;
  
  margin: 25px 0px 25px 50px;
  
  z-index: -1;
/*  
  -webkit-box-reflect: below -10px
    -webkit-gradient(linear,
                     left top,
                     left bottom,
                     color-stop(0.5, rgba(0, 0, 0, 0.0)),
                     color-stop(1.0, rgba(0, 0, 0, 1.0))
    );
*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  width: 64px;
  height: 64px;
  
  top: 10px;
  margin-left: 208px;
  
  z-index: -1;
  position: absolute;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sloganLeft {
  text-align: center;
  margin: 25px 0px 25px 0px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sloganLeft img, .logout {
  opacity: .0;
  
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.sloganLeft img:hover, .logout:hover { opacity: 1.0; }

.sloganLeft img {
  height: 24px;
  width: 24px;
}

input.lockButton {
  font-weight: bold;
  background: rgb(242, 242, 242) url('/images/unlock.png') no-repeat top left;
  background-size: 24px 24px;
  border: 0px solid rgb(242, 242, 242);
  
  padding: 0px 0px 0px 24px;
  
  width: auto;
  height: 24px;
}

.loginBackground {
  background: rgba(0, 0, 0, .8);
  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  float: inherit;
  display: none;
  z-index: 10;
}

.login {
  background: rgb(242, 242, 242);
  border: solid 0px rgb(200, 200, 200);
  border-radius: 5px;
/*  box-shadow: 0 0 5px 5px rgb(0, 128, 237);*/
  
  padding: 5px;
  
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  float: inherit;
}

input.name, input.pass {
  background-color: rgb(242, 242, 242);
  border-color: rgb(150, 150, 150);
  border-radius: 5px;
  font-size: 2em;
  
  padding: 5px;
  margin: 5px;
  width: 280px;
  
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: .1s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: .1s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: .1s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color, border-color, box-shadow;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

input.name:focus, input.name:hover, input.name:focus:hover,
input.pass:focus, input.pass:hover, input.pass:focus:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 155, 255);
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px rgb(200, 200, 200);
}

input.unlockButton {
  font-family: Helvetica;
  font-weight: bold;
  font-color: rgb(0, 128, 237);
  font-size: 2em;
  color: rgb(0, 128, 237);
  background-color: rgb(242, 242, 242);
  
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
  
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(255, 255, 255) 0px 0px 10px;
  
  padding: 5px;
  margin: 5px;
  width: 97%;
  
  cursor: pointer;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

input.unlockButton:hover, input.unlockButton:focus, input.unlockButton:focus:hover {
  font-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 128, 237);
}

input.unlockButton:active {
  font-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 103, 212);
  border: solid 1px rgb(150, 150, 150);
}

.sloganRight {
  text-align: right;
  
  padding: 0px 0px 0px 10px;
  margin: 25px 0px 25px 0px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr.separator {
  height: 10px;
  background: rgb(242, 242, 242); /* Old browsers */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(150,150,150,1)), color-stop(50%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(242,242,242,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%, rgba(242,242,242,1) 50%); /* FF3.6+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(242,242,242,1) 50%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(242,242,242,1) 50%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(242,242,242,1) 50%); /* W3C */
}

.navigation {
  background-color: rgba(.82,.82,.82,0.5);
  border-radius: 8px;
}

.copyright {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  
/*
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(.5, rgba(255, 255, 255, 1.0)),
    color-stop(0.0, rgba(255, 255, 255, 0.0))
  );
  position: fixed;
  bottom: 0px;
*/
  padding-top: 25px;
  
  color: rgb(100, 100, 100);
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(242, 242, 242) 0px 0px 10px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  cursor: pointer;
/*  background: url(/images/copyright.png) repeat, white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation-name: copyright-animation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;*/
}

/*@-webkit-keyframes copyright-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}*/

.warning {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
  text-align: center;
  color: rgb(255, 165, 0);
  padding: 20px 0px 10px 0px;
}

/* blog section */

.mainColumn {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(242, 242, 242) 0px 0px 10px;
  padding: 0px 20px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.mainColumn a {
  color: rgb(0, 155, 255);
  text-decoration: none;
  cursor: pointer;
}

.mainColumn a:focus, .mainColumn a:hover, .mainColumn a:focus:hover {
  color: rgb(0, 155, 255);
  text-decoration: underline;
  cursor: pointer;
}

.post {
  padding: 5px 0px 50px 0px;
}

.post a {
  color: rgb(0, 155, 255);
  text-decoration: none;
}

.post a:focus, .post a:hover, .post a:focus:hover {
  color: rgb(0, 155, 255);
  text-decoration: underline;
}

.postTitle {
  font-weight: bold;
  line-height: 1.0em;
}

.postDate {
  color: rgb(100, 100, 100);
  line-height: 1.0em;
}

.postBody {
  padding: 20px 0px 20px 0px;
}
.postBody ol { font-style: italic; }
.postBody ol.circle { list-style-type: circle; }
.postBody ol.square { list-style-type: square; }
.postBody ol.alphabetical { list-style-type: lower-alpha; }
.postBody span.code { font-family: 'Courier New'; }
.postBody .poetry { text-align: center; }
.postBody.quote, .postBody.quote a {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-style: italic;
  
  padding: 2px 2em 2px 2em;
  margin: 10px 10px 10px 10px;
}

.postCategory {
  text-align: left;
}

.postCategory a {
  background-color: rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
  text-shadow: none;
  text-decoration: none;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.postCategory a:focus, .postCategory a:hover, .postCategory a:focus:hover {
  background-color: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-decoration: none;
}

.linkToTop {
  text-align: right;
}

.linkToTop a {
  background-color: rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  padding: 2px;
  border-radius: 2px;
  
  text-decoration: none;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.linkToTop a:focus, .linkToTop a:hover, .linkToTop a:focus:hover {
  background-color: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* blog section / search
                / about
                / categories */

.sidebarColumn {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  padding: 0px 0px 0px 0px;
  margin: 0px -10px 0px 0px;
  text-align: left;
}

.sidebarColumn div {
  margin-right: -20px;
}

.sidebarColumn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  margin-right: -20px;*/
}

.sidebarColumn a {
  color: rgb(0, 155, 255);
  text-decoration: none;
  cursor: pointer;
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.sidebarColumn a:focus, .sidebarColumn a:hover, .sidebarColumn a:focus:hover {
  color: rgb(0, 155, 255);
  text-decoration: underline;
  cursor: pointer;
}

.search {
  margin: 0px 0px 25px 0px;
}

input.searchBox {
  font-size: 15px;
  background-color: rgb(242, 242, 242);
  
  width: 170px;
  padding: 5px 0px 5px 5px;
  
  border-color: rgb(150, 150, 150);
  border-radius: 5px 0px 0px 5px;
  
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: .3s, .3s, .1s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: .3s, .3s, .1s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: .3s, .3s, .1s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: .3s, .3s, .1s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: background-color, border-color, box-shadow;
  transition-duration: .3s, .3s, .1s;
  transition-timing-function: ease-in-out;
}

input.searchBox:focus, input.searchBox:hover, input.searchBox:focus:hover {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  
  width: 170px;
  padding: 5px 0px 5px 5px;
  
  border-color: rgb(0, 155, 255);
  border-radius: 5px 0px 0px 5px;
  
  box-shadow: inset 0 0 1px 1px rgb(200, 200, 200);
}

input.searchButton {
  font-size: 15px;
  
  background: transparent url(/images/search-up.png) no-repeat center center;
  
  width: 30px;
  padding: 5px 5px 5px 0px;
  
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-radius: 0px 5px 5px 0px;
  
  -webkit-transition-property: border-color, background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: border-color, background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: border-color, background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: border-color, background-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

input.searchButton:focus, input.searchButton:hover, input.searchButton:focus:hover {
  font-size: 15px;
  
  background: rgb(0, 128, 237) url(/images/search-down.png) no-repeat center center;
  
  width: 30px;
  padding: 5px 5px 5px 0px;
  
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(0, 155, 255);
  border-radius: 0px 5px 5px 0px;
}

.categoryTitle a {
  font-size: 14px;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  
  padding: 2px 5px 2px 5px;
  margin: 1px;
  
  border-radius: 4px;
  line-height: 1.5em;
  text-shadow: none;
  text-decoration: none;
  
  display: inline-block;
}

.categoryTitle a:focus, .categoryTitle a:hover, .categoryTitle a:focus:hover {
  font-size: 14px;
  background-color: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-decoration: none;
}

/* applications section */

.applicationsColumn {
  text-align: left;
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  padding: 0px 20px 0px 10px;
/*  margin: 0px 0px 0px 0px;*/
  margin: 5px 10px 25px 0px;
}

.applicationsColumn .iosapplication a, .applicationsColumn .symbianapplication a {
  color: rgb(245, 245, 245);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.applications {
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  margin: 5px 0px 25px 0px;
}

div.iosapplication, div.symbianapplication { /* common attributes */
  color: rgb(100, 100, 100);
  border: solid 1px rgb(100, 100, 100);
  background: rgb(100, 100, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  background: -moz-linear-gradient(top,  rgb(150, 150, 150),  rgb(100, 100, 100));
  background: -o-linear-gradient(top, rgb(150, 150, 150), rgb(100, 100, 100));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  box-shadow: rgb(155, 155, 155) 0px 0px 5px,
              rgb(200, 200, 200) 0px 0px 10px,
              rgb(255, 255, 255) 0px 0px 15px;
  
  margin: 10px 0px 0px 10px;
  padding: 5px 0px 5px 10px;
  
  border-radius: 4px;
  text-decoration: none;
/*  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(105, 105, 105) 0px 0px 10px,
               rgb(55, 55, 55) 0px 0px 15px;*/
  
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
/* not until webkit supports gradient animation.
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -ms-transition-duration: .3s;
  transition-duration: .3s;
  
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  */
}

div.iosapplication:hover {
  border: solid 1px rgb(100, 100, 155);
  background: rgb(100, 100, 155);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
  background: -moz-linear-gradient(top,  rgb(150, 150, 205),  rgb(100, 100, 155));
  background: -o-linear-gradient(top, rgb(150, 150, 205), rgb(100, 100, 155));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
}

div.iosapplication:active {
  color: rgb(100, 100, 155);
  border: solid 1px rgb(100, 100, 155);
  background: rgb(100, 100, 155);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
  background: -moz-linear-gradient(top,  rgb(100, 100, 155),  rgb(150, 150, 205));
  background: -o-linear-gradient(top, rgb(100, 100, 155), rgb(150, 150, 205));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
  background: gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
}

div.symbianapplication:hover {
  border: solid 1px rgb(100, 155, 100);
  background: rgb(100, 155, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
  background: -moz-linear-gradient(top,  rgb(150, 205, 150),  rgb(100, 155, 100));
  background: -o-linear-gradient(top, rgb(150, 205, 150), rgb(100, 155, 100));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
}

div.symbianapplication:active {
  color: rgb(100, 155, 100);
  border: solid 1px rgb(100, 155, 100);
  background: rgb(100, 155, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
  background: -moz-linear-gradient(top,  rgb(100, 155, 100),  rgb(150, 205, 150));
  background: -o-linear-gradient(top, rgb(100, 155, 100), rgb(150, 205, 150));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
  background: gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
}

.iosapplication img, .symbianapplication img {
  float: left;
  width: 64px;
  height: 64px;
  
  margin: 5px 0px 5px 0px;
}

.iosapplication span, .symbianapplication span {
  font-family: Helvetica;
  font-size: 14px;
  color: rgb(255, 255, 255);
  
  float: left;
  
  padding: 5px 0px 5px 20px;
}

/* application subsection */

.applicationTitle img {
  float: right;
  width: 64px;
  height: 64px;
  
  margin: 0px 0px 0px 25px;
}

.applicationSubTitle {
  margin: 10px 0px 25px 0px;
  text-align: left;
}

.applicationLinks div {
  margin: 10px 0px 0px 25px;
}

.applicationLinks a {
  font-size: 14px;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  
  padding: 2px;
  line-height: 1.7em;
  border-radius: 2px;
  text-shadow: none;
  text-decoration: none;
}

.applicationLinks a:focus, .applicationLinks a:hover, .applicationLinks a:focus:hover {
  font-size: 14px;
  background-color: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  
  padding: 2px;
  border-radius: 2px;
/*
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(242, 242, 242) 0px 0px 10px;
*/
  text-shadow: none;
  text-decoration: none;
}


/* designs section */

.designs {
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  margin: 5px 10px 25px 0px;
}

.designsColumn {
  text-align: left;
  line-height: 5px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.designsColumn span img {
  display: none;
  
  width: auto;
  height: 135px;
  
  margin: 10px 0px 0px 10px;
  
  border-width: 1px;
  border-radius: 5px;
  
  box-shadow: rgb(155, 155, 155) 0px 0px 5px,
              rgb(200, 200, 200) 0px 0px 10px,
              rgb(242, 242, 242) 0px 0px 15px;
  
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -mox-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  
/*
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  
  -webkit-transition: -webkit-filter 1.0s ease-in-out;
  -moz-transition: -moz-filter 1.0s ease-in-out;
  -o-transition: -moz-filter 1.0s ease-in-out;
  -ms-transition: -moz-filter 1.0s ease-in-out;
  transition: filter 1.0s ease-in-out;
*/
}

.designsColumn span img:hover, .designsColumn span img:focus, .designsColumn span img:focus:hover {
  box-shadow: rgb(0, 128, 237) 0 0 5px,
              rgb(0, 138, 247) 0 0 10px,
              rgb(242, 242, 242) 0 0 15px;
  
/*
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
*/
}

/* experiments section */

.experimentsColumn {
  text-align: left;
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  padding: 0px 20px 0px 10px;
/*  margin: 0px 0px 0px 0px;*/
  margin: 5px 10px 25px 0px;
}

.experimentsColumn .objectivecexperiment a, .experimentsColumn .javaexperiment a, .experimentsColumn .cppexperiment a, .experimentsColumn .pythonexperiment a {
  color: rgb(245, 245, 245);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.experiments {
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  margin: 5px 0px 25px 0px;
}

div.objectivecexperiment, div.javaexperiment, div.cppexperiment, div.pythonexperiment { /* common attributes */
  color: rgb(100, 100, 100);
  border: solid 1px rgb(100, 100, 100);
  background: rgb(100, 100, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  background: -moz-linear-gradient(top,  rgb(150, 150, 150),  rgb(100, 100, 100));
  background: -o-linear-gradient(top, rgb(150, 150, 150), rgb(100, 100, 100));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 150, 150)), to(rgb(100, 100, 100)));
  box-shadow: rgb(155, 155, 155) 0px 0px 5px,
              rgb(200, 200, 200) 0px 0px 10px,
              rgb(255, 255, 255) 0px 0px 15px;
  
  margin: 10px 0px 0px 10px;
  padding: 5px 0px 5px 10px;
  
  border-radius: 4px;
  text-decoration: none;
/*  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(105, 105, 105) 0px 0px 10px,
               rgb(55, 55, 55) 0px 0px 15px;*/
  
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
/* not until webkit supports gradient animation.
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -ms-transition-duration: .3s;
  transition-duration: .3s;
  
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  */
}

div.objectivecexperiment:hover {
  border: solid 1px rgb(100, 100, 155);
  background: rgb(100, 100, 155);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
  background: -moz-linear-gradient(top,  rgb(150, 150, 205),  rgb(100, 100, 155));
  background: -o-linear-gradient(top, rgb(150, 150, 205), rgb(100, 100, 155));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 150, 205)), to(rgb(100, 100, 155)));
}

div.objectivecexperiment:active {
  color: rgb(100, 100, 155);
  border: solid 1px rgb(100, 100, 155);
  background: rgb(100, 100, 155);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
  background: -moz-linear-gradient(top,  rgb(100, 100, 155),  rgb(150, 150, 205));
  background: -o-linear-gradient(top, rgb(100, 100, 155), rgb(150, 150, 205));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
  background: gradient(linear, left top, left bottom, from(rgb(100, 100, 155)), to(rgb(150, 150, 205)));
}

div.javaexperiment:hover {
  border: solid 1px rgb(200, 0, 0);
  background: rgb(200, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 100, 100)), to(rgb(200, 0, 0)));
  background: -moz-linear-gradient(top,  rgb(255, 100, 100),  rgb(200, 0, 0));
  background: -o-linear-gradient(top, rgb(255, 100, 100), rgb(200, 0, 0));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(255, 100, 100)), to(rgb(200, 0, 0)));
  background: gradient(linear, left top, left bottom, from(rgb(255, 100, 100)), to(rgb(200, 0, 0)));
}

div.javaexperiment:active {
  color: rgb(200, 0, 0);
  border: solid 1px rgb(200, 0, 0);
  background: rgb(200, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(200, 0, 0)), to(rgb(255, 100, 100)));
  background: -moz-linear-gradient(top,  rgb(200, 0, 0),  rgb(255, 100, 100));
  background: -o-linear-gradient(top, rgb(200, 0, 0), rgb(255, 100, 100));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(200, 0, 0)), to(rgb(255, 100, 100)));
  background: gradient(linear, left top, left bottom, from(rgb(200, 0, 0)), to(rgb(255, 100, 100)));
}

div.cppexperiment:hover {
  border: solid 1px rgb(100, 155, 100);
  background: rgb(100, 155, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
  background: -moz-linear-gradient(top,  rgb(150, 205, 150),  rgb(100, 155, 100));
  background: -o-linear-gradient(top, rgb(150, 205, 150), rgb(100, 155, 100));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
  background: gradient(linear, left top, left bottom, from(rgb(150, 205, 150)), to(rgb(100, 155, 100)));
}

div.cppexperiment:active {
  color: rgb(100, 155, 100);
  border: solid 1px rgb(100, 155, 100);
  background: rgb(100, 155, 100);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
  background: -moz-linear-gradient(top,  rgb(100, 155, 100),  rgb(150, 205, 150));
  background: -o-linear-gradient(top, rgb(100, 155, 100), rgb(150, 205, 150));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
  background: gradient(linear, left top, left bottom, from(rgb(100, 155, 100)), to(rgb(150, 205, 150)));
}

div.pythonexperiment:hover {
  border: solid 1px rgb(255, 155, 55);
  background: rgb(255, 155, 55);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 235, 105)), to(rgb(255, 155, 55)));
  background: -moz-linear-gradient(top,  rgb(250, 235, 105),  rgb(255, 155, 55));
  background: -o-linear-gradient(top, rgb(250, 235, 105), rgb(255, 155, 55));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(250, 235, 105)), to(rgb(255, 155, 55)));
  background: gradient(linear, left top, left bottom, from(rgb(250, 235, 105)), to(rgb(255, 155, 55)));
}

div.pythonexperiment:active {
  color: rgb(255, 155, 55);
  border: solid 1px rgb(255, 155, 55);
  background: rgb(255, 155, 55);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 155, 55)), to(rgb(250, 235, 105)));
  background: -moz-linear-gradient(top,  rgb(255, 155, 55),  rgb(250, 235, 105));
  background: -o-linear-gradient(top, rgb(255, 155, 55), rgb(250, 235, 105));
  background: -ms-gradient(linear, left top, left bottom, from(rgb(255, 155, 55)), to(rgb(250, 235, 105)));
  background: gradient(linear, left top, left bottom, from(rgb(255, 155, 55)), to(rgb(250, 235, 105)));
}

.objectivecexperiment img, .javaexperiment img, .cppexperiment img, .pythonexperiment img {
  float: left;
  width: 64px;
  height: 64px;
  
  margin: 5px 0px 5px 0px;
}

.objectivecexperiment span, .javaexperiment span, .cppexperiment span, .pythonexperiment span {
  font-family: Helvetica;
  font-size: 14px;
  color: rgb(255, 255, 255);
  
  float: left;
  
  padding: 5px 0px 5px 20px;
}

/* experiment subsection */

.experimentTitle img {
  float: right;
  width: 64px;
  height: 64px;
  
  margin: 0px 0px 0px 25px;
}

.experimentSubTitle {
  margin: 10px 0px 25px 0px;
  text-align: left;
}

.experimentLinks div {
  margin: 10px 0px 0px 25px;
}

.experimentLinks a {
  font-size: 14px;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  
  padding: 2px;
  line-height: 1.7em;
  border-radius: 2px;
  text-shadow: none;
  text-decoration: none;
}

.experimentLinks a:focus, .experimentLinks a:hover, .experimentLinks a:focus:hover {
  font-size: 14px;
  background-color: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  
  padding: 2px;
  border-radius: 2px;
/*
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(242, 242, 242) 0px 0px 10px;
*/
  text-shadow: none;
  text-decoration: none;
}


/* contact section */

.contact {
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  margin: 5px 10px 25px 0px;
}

.contactColumn {
  text-shadow: rgb(155, 155, 155) 0px 0px 10px;
  text-align: left;
  
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.contactTitle {
  font-weight: bold;
  text-align: right;
}

.contactAddress {
  text-align: left;
  font-family: Monaco;
}

.contactAddress a {
  color: rgb(0, 155, 255);
  text-decoration: none;
}

.contactAddress a:focus, .contactAddress a:hover, .contactAddress a:focus:hover {
  color: rgb(0, 155, 255);
  text-decoration: underline;
}

/* all */

.more {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
  text-align: center;
  
  vertical-align: middle;
  
  padding: 10px;
  margin: 50px 0px 10px 0px;
}

.more img {
  display: none;
  width: 32px;
  height: 32px;
}



