.menu {
  font-family: Helvetica;
  /*text-shadow: rgb(155, 155, 155) 0px 0px 5px,
                 rgb(200, 200, 200) 0px 0px 10px,
                 rgb(255, 255, 255) 0px 0px 15px;*/
  padding: 0px;
  margin: 0px;
  
  width: 100%;
  
  list-style-type: none;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuItem a {
  /*background-image: -webkit-gradient(linear, 0% 1%, 0% 95%,
  from(rgba(255,255,255,0.9)), to(rgba(64,64,64,0.9)),
  color-stop(.8,rgba(64,64,64,0.25)), color-stop(.25,rgba(32,32,32,0.5)));*/
  text-align: center;
  text-shadow: rgb(200, 200, 200) 0px 0px 5px,
               rgb(255, 255, 255) 0px 0px 10px;
  font-weight: bold;
  font-size: 15px;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 8px;
  padding: 8px;
  margin: 5px 5px 5px 0px;
  
  text-decoration: none;
  background-color: rgb(242, 242, 242);
  font-color: rgb(0, 128, 237);
  color: rgb(0, 128, 237);
  
  -webkit-transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  
  -moz-transition-property: background-color, border-color;
  -moz-transition-duration: 0.3s, 0.3s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  
  -o-transition-property: background-color, border-color;
  -o-transition-duration: 0.3s, 0.3s;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  
  -ms-transition-property: background-color, border-color;
  -ms-transition-duration: 0.3s, 0.3s;
  -ms-transition-timing-function: ease-in-out, ease-in-out;
  
  transition-property: background-color, border-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  
  display: block;
  cursor: pointer;
}

.menuItem a:hover, .menuItemSelected {
  /*background-image: -webkit-gradient(linear, 0% 1%, 0% 95%,
  from(rgba(255,255,255,0.9)), to(rgba(64,64,64,0.9)),
  color-stop(.8,rgba(64,64,64,0.25)), color-stop(.25,rgba(32,32,32,0.5)));*/
  text-align: center;
  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(200, 200, 200) 0px 0px 10px,
               rgb(255, 255, 255) 0px 0px 15px;
  font-weight: bold;
  font-size: 15px;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 8px;
  padding: 8px;
  margin: 5px 5px 5px 0px;
  
  text-decoration: none;
  background-color: rgb(0, 128, 237);
  font-color: white;
  color: white;
  
  display: block;
  cursor: pointer;
}

.menuItem a:focus, .menuItem a:focus:hover {
  /*background-image: -webkit-gradient(linear, 0% 1%, 0% 95%,
  from(rgba(255,255,255,0.9)), to(rgba(64,64,64,0.9)),
  color-stop(.8,rgba(64,64,64,0.25)), color-stop(.25,rgba(32,32,32,0.5)));*/
  text-align: center;
  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(200, 200, 200) 0px 0px 10px,
               rgb(255, 255, 255) 0px 0px 15px;
  font-weight: bold;
  font-size: 15px;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 8px;
  padding: 8px;
  margin: 5px 5px 5px 0px;
  
  text-decoration: none;
  background-color: rgb(0, 128, 237);
  font-color: white;
  color: white;
  
  display: block;
  cursor: pointer;
}

.menuItem a:active, .menuItemSelected:active {
  /*background-image: -webkit-gradient(linear, 0% 1%, 0% 95%,
  from(rgba(255,255,255,0.9)), to(rgba(64,64,64,0.9)),
  color-stop(.8,rgba(64,64,64,0.25)), color-stop(.25,rgba(32,32,32,0.5)));*/
  text-align: center;
  text-shadow: rgb(155, 155, 155) 0px 0px 5px,
               rgb(200, 200, 200) 0px 0px 10px,
               rgb(255, 255, 255) 0px 0px 15px;
  font-weight: bold;
  font-size: 15px;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 8px;
  padding: 8px;
  margin: 5px 5px 5px 0px;
  
  text-decoration: none;
  background-color: rgb(0, 103, 212);
  font-color: white;
  color: white;
  
  display: block;
  cursor: pointer;
}
