.screenshot {
  overflow: hidden;
  zoom: 1;
  position: relative;
}

.screenshot a {
  text-decoration: none;
  outline: none;
  border: none;
}

.ss-buttons {
  font-size: 0px;
  padding: 10px 0px 10px 0px;
  float: left;
}

.ss-buttons a {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  float: left;
/*  border: 1px solid rgb(184, 196, 207);*/
  color: rgb(184, 196, 207);
}

.ss-active {
  background: rgb(184, 196, 207);
  color: rgb(255, 255, 255);
}

.ss-title {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
  width: 100%;
  
  padding: 10px;
}

.ss-prev, .ss-next {
  background: rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  font-color: rgb(255, 255, 255);
  
  padding: 10px;
  margin: 10px;
  
  border-radius: 5px;
  
  text-decoration: none;
}

a.ss-prev, a.ss-next {
  background: rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  font-color: rgb(255, 255, 255);
  
  padding: 10px;
  margin: 10px;
  
  border-radius: 5px;
  
  text-decoration: none;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  
  -ms-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

a.ss-prev:hover, a.ss-prev:focus, a.ss-prev:focus:hover,
a.ss-next:hover, a.ss-next:focus, a.ss-next:focus:hover {
  background: rgb(0, 155, 255);
  color: rgb(255, 255, 255);
  font-color: rgb(255, 255, 255);
  
  padding: 10px;
  margin: 10px;
  
  border-radius: 5px;
  
  text-decoration: none;
}

/** ScreenShot custom styles **/
.ss-buttons a {
  background: rgb(155, 155, 155);
  border-radius: 2px;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  
  -ms-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.ss-buttons a:hover, .ss-buttons a:focus, .ss-buttons a:focus:hover {
  background: rgb(0, 155, 255);
}


a.ss-active {
  background: rgb(0, 155, 255);
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  
  -ms-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

