/* SLIMBOX */

#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: rgb(242, 242, 242);
}

.lbLoading {
  background: rgb(255, 255, 255) url(/images/ajax-loader.gif) no-repeat center;
}

#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 0px solid rgb(0, 0, 0);
  background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
/*  width: 25%;*/
  outline: none;
}

#lbPrevLink {
  left: 0;
  width: 50%;
  opacity: 0.2;
  background: transparent url(/images/prev.svg) no-repeat 0 50%;
  
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#lbPrevLink:hover, #lbPrevLink:focus, #lbPrevLink:focus:hover {
  opacity: 1.0;
  background: transparent url(/images/prev.svg) no-repeat 0 50%;
}

#lbNextLink {
  right: 0;
  width: 50%;
  opacity: 0.2;
  background: transparent url(/images/next.svg) no-repeat 100% 50%;
  
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#lbNextLink:hover, #lbNextLink:focus, #lbNextLink:focus:hover {
  opacity: 1.0;
  background: transparent url(/images/next.svg) no-repeat 100% 50%;
}

#lbBottom {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 10px solid rgb(0, 0, 0);
  border-top-style: none;
}

#lbCloseLink {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
/*  background: transparent url(/images/close.png) no-repeat center;*/
  margin: 10px 10px 0px 0px;
  outline: none;
}

#lbCaption, #lbNumber {
  margin-right: 71px;
}

#lbCaption {
  font-weight: bold;
}
